@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600;700;800;900&display=swap");

:root {
  --purple: #251246;
  --blue: #5925dc;
  --softPurple: #7a5af8;
  --cyan: #448088;
  --softGreen: #95be8a;
  --white: #f2f2f2;
  --black: #1A1A1A;
  --lilac: #dbd9f5;
  --gray: #767676;
  --softGray: #D2D2D2;
  --font: "Urbanist", sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--white);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 60px;
  background-color: var(--purple);
}

header .header_icon{
  min-width: 67px;
  height: 53px;
  border-radius: 17px;
  background-color: var(--white);
  margin-right: 20px;
}

header .header_links{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

header .header_links a {
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 30px;
}

header .header_links img {
  width: 18px;
  height: 18px;
  margin-left: 97px;
}

main{
  justify-content: space-between;
}

main .container_home{
  display: flex;
  justify-content: space-between;
  background-color: var(--purple);
  color: white;
  padding: 100px 10px;
}

.wave{
  width: 100%;
  margin-top: -290px;
}

.hero_rigth{
  margin: auto;
}

.hero_rigth img{
  width: 110%;
}

.localization {
  display: flex;
  align-items: center;
  width: 140px;
  height: 32px;
  border-radius: 28px;
  background-color: var(--blue);
  padding: 10px;
}

.localization > img {
  width: 12px;
  height: 12px;
  margin: 13px;
}

.localization > p {
  font-size: 12px;
  font-weight: 600;
}

.content_home {
  margin: 0 auto;
  width: 50%;
}

.content_home > h1 {
  max-width: 620px;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.content_home > p {
  max-width: 470px;
  min-width: 250px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

.content_home > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 65px;
  background-color: var(--blue);
  border: none;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.content_home > a:visited {
  text-decoration: none;
}

.content_home > a:hover {
  background-color: var(--softPurple);
  height: 70px;
  }
  
main .content_home a > img {
  width: 22px;
  height: 22px;
}

.content_home a > p {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-right: 5px;
}

.social_links {
  position: absolute;
  display: flex;
  margin-top: 44px;
  z-index: 10;
}

.social_links > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 25px;
  margin-right: 15px;
  transition: all 0.5s ease;
}

main .social_links a > svg {
  fill: #7a5af8;
}

main .social_links a:hover {
  border: 2px solid white;
  background-color: transparent;
}

main .social_links a:hover svg {
  fill: white;
}

.main_areas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background-color: var(--white);
    padding: 100px 176px;
}

.main_areas .phone{
    min-width: 289px;
    height: 627px;
    border: 15px solid black;
    margin-right: 50px;
    border-radius: 23px;
}

.main_areas .info_areas{
    display: flex;
}

.info_cards{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-right: 20px;
}

.main_questions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 300px;
}

.main_questions p{
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: var(--blue);
  margin-bottom: 16px;
}

.main_questions > h1{
  font-weight: 600;
  font-size: 52px;
  line-height: 62px;
  text-align: center;
  color: var(--black);
  margin-bottom: 60px;
}

.up{
  margin-bottom: 50px;
}

.up, .down{
  display: flex;
}

.main_comments{
  text-align: center;
  background-color: var(--white);
  margin: -250px 25px 200px 25px;
}

.main_comments > h1{
  font-weight: 600;
  size: 52px;
  line-height: 62px;
  color: var(--black);
  margin-bottom: 50px;
}

.comments_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.arrow_right, .arrow_left{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 65px;
  min-height: 65px;
  border-radius: 50%;
  background-color: var(--lilac);
  rotate: 180deg;
}

.arrow_left{
  rotate: 0deg;
}

.arrow_right img, .arrow_left img{
  width: 32px;
  height: 32px;
}

.main_map{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  margin: 0 20px 100px 20px;
}

.main_map h1{
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 55px;
}

.main_map img{
  max-width: 100%;
  height: 375px;
}

.main_claim{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  text-align: center;
  margin: 0 15px;
  padding: 0 15px;
}

.main_claim h1{
  font-weight: 600;
  font-size: 52px;
  line-height: 62px;
  margin-bottom: 17px;
  color: var(--black);
}

.main_claim p{
  max-width: 730px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--gray);
  margin-bottom: 17px;
  text-align: center;
}

.username_typecomment {
  width: 100%;
  display: flex;
  justify-content: center;
}

.username_typecomment-estiloso select { /* <select> */
  background: transparent; /* importante para exibir o novo ícone */
  width: 50%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 48px;
} 

.username_typecomment select {
  max-width: 50%;
  height: 48px;
  border-radius: 6px;
  border: 1px solid var(--softGray);
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray);
  padding-left: 0.5rem;
}

.username_typecomment select:focus {
  box-shadow: 0 0 0 0;
  border: 1px solid var(--softGray);
  outline: 0;
}

.user_name{
  max-width: 50%;
  height: 48px;
  border: 1px solid var(--softGray);
  padding: 0 0 0 36px;
  border-radius: 6px;
  background-image: url(/src/assets/user.svg);
  background-repeat: no-repeat;
  background-position: 16px 13px;
  margin-bottom: 24px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray);
  margin-right: 10px;
}

.user_name:focus{
  box-shadow: 0 0 0 0;
  border: 1px solid var(--softGray);
  outline: 0;
}

.user_comment{
  width: 750px;
  height: 140px;
  padding: 11px 0 0 18px;
  border: 1px solid var(--softGray);
  border-radius: 6px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray);
  margin-bottom: 21px;
}

.user_comment:focus{
  box-shadow: 0 0 0 0;
  border: 1px solid var(--softGray);
  outline: 0;
}

#p_warning{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--black);
}

.main_claim button{
  width: 255px;
  height: 50px;
  background-color: var(--blue);
  border: none;
  border-radius: 6px;
  font-family: var(--font);
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: white;
  margin-bottom: 53px;
  transition: all 0.2s ease;
}

.main_claim button:hover{
  cursor: pointer;
  width: 260px;
  height: 60px;
}

.big_circle{
  transform: translate(-50%, -50%);
  rotate: 90deg;
  height: 360px;
  width: 360px;
  border-radius: 360px 360px 0 0;
  background-color: var(--softPurple);
  margin-left: -360px;
}

.big_circle2{
  transform: translate(-50%, -50%);
  rotate: 90deg;
  height: 360px;
  width: 360px;
  border-radius: 0px 0px 360px 360px;
  background-color: var(--softPurple);
  margin-left: 1500px;
}

.small_cicle{
  position: absolute;
  top: 340%;
  left: 300px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--softPurple);
}

@media (max-width: 1600px){
  .wave{
    margin-top: -280px;
  }
}

@media (max-width: 1400px){
  .wave{
    margin-top: -260px;
  }
}

@media (max-width: 1200px){
  .wave{
    margin-top: -245px;
  }
}

@media (max-width: 1100px){
  .hero_rigth img{
    width: 0;
  }

  header{
    padding: 20px;
  }

  main .container_home{
    padding-bottom: 200px;
  }

  .wave{
    margin-top: -160px;
    margin-bottom: 10px;
  }

  .main_areas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
  }

  .main_areas .phone{
    align-items: center;
    justify-content: none;
    width: 250px;
    height: 500px;
    margin: 0;
  }

  .info_areas{
    margin: 150px 0 100px 0;
  }

  .user_comment{
    width: 675px;
  }

  .info_cards{
    margin-left: 100px;
  }
}

@media(max-width: 750px){
  .user_comment{
    width: 525px;
  }
  .info_cards{
    margin-left: 80px;
  }
}

@media(max-width: 630px){
  .user_comment{
    width: 425px;
  }

  .wave{
    margin-top: -100px;
  }
  .info_cards{
    margin-left: 40px;
  }
}

@media(max-width: 550px){
  main .container_home{
    padding-left: 0;
  }

  .content_home > h1 {
    font-size: 3.5rem;
  }

  header .header_links a{
    margin-left: 10px;
  }

  header .header_icon{
    margin-right: 0px;
  }

  .user_comment{
    width: 350px;
  }

  .main_areas{
    padding: 10px;
  }
  
  .main_areas .phone{
    min-width: 200px;
    height: 400px;
  }

  .main_map img{
    max-width: 100%;
    height: 330px;
  }
  .info_cards{
    margin-left: 15px;
  }
}

@media(max-width: 400px){
  header{
    padding: 10px;
  }

  .content_home > h1 {
    font-size: 3.2rem;
  }

  .arrow_right, .arrow_left{
    min-width: 35px;
    min-height: 35px;
  }

  .arrow_right img, .arrow_left img{
    width: 20px;
  }

  .main_map img{
    max-width: 100%;
    height: 250px;
  }

  .main_areas{
    padding: 0;
  }

  .info_cards{
    margin-left: 5px;
    margin-right: 5px;
  }
}