.area_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 255px;
    min-height: 193px;
    margin-bottom: 60px;
}

.area_card img{
    width: 44px;
    height: 44px;
    margin-bottom: 16px;
}

.area_card a{
    font-size: 20px;
    font-weight: 500;
    color: #1A1A1A;
    margin-bottom: 7px;
    text-decoration: none;
}

.area_card a:hover{
    text-decoration: underline;
}

.area_card p{
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 26px;
    color: #767676;
}

@media(max-width: 350px){
    .area_card{
        min-height: 245px;
    }
}