@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600;700;800;900&display=swap");

:root {
  --purple: #251246;
  --blue: #5925dc;
  --softPurple: #7a5af8;
  --cyan: #448088;
  --softGreen: #95be8a;
  --white: #f2f2f2;
  --black: #1A1A1A;
  --lilac: #dbd9f5;
  --gray: #767676;
  --softGray: #D2D2D2;
  --font: "Urbanist", sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--white);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 60px;
  background-color: var(--purple);
}

header .header_icon {
  width: 67px;
  height: 53px;
  border-radius: 17px;
  background-color: var(--white);
}

header .header_links a {
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  margin-right: 37.5px;
}

header .header_links img {
  width: 18px;
  height: 18px;
  margin-left: 97px;
}

main {
  justify-content: space-between;;
}

.container_left {
  margin: auto;
}

main .container_home {
  display: flex;
  justify-content: space-between;
  padding-top: 6.25rem;
  background-color: var(--purple);
  padding-bottom: 120px;
}

main .content_home {
  color: white;
}

.localization {
  display: flex;
  align-items: center;
  width: 140px;
  height: 32px;
  border-radius: 28px;
  background-color: var(--blue);
  padding: 10px;
}

.localization > img {
  width: 12px;
  height: 12px;
  margin: 13px;
}

.localization > p {
  font-size: 12px;
  font-weight: 600;
}

.container_left {
  width: 50%;
}

.container_left > h1 {
  width: 620px;
  height: 29.94%;
  font-size: 4vw;
  font-weight: 700;
  margin-bottom: 34px;
}

.container_left > p {
  width: 470px;
  height: 13%;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

.container_left > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 65px;
  background-color: var(--blue);
  border: none;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.container_left > a:visited {
  text-decoration: none;
}

.container_left > a:hover {
  background-color: var(--softPurple);
  height: 70px;
  }
  
main .content_home a > img {
  width: 22px;
  height: 22px;
}

.hero_rigth {
  width: 50%;
  padding: 8rem;
  padding-top: 0;
}

.container_left a > p {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-right: 5px;
}

.social_links {
  display: flex;
  margin-top: 44px;
  position: absolute;
  z-index: 10;
}

.social_links > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 25px;
  margin-right: 15px;
  transition: all 0.5s ease;
}

main .social_links a > svg {
  fill: #7a5af8;
}

main .social_links a:hover {
  border: 2px solid white;
  background-color: transparent;
}

main .social_links a:hover svg {
  fill: white;
}

.container .wave {
  position: absolute;
  width: 100%;
  height: 848px;
  background-image: url(/src/assets/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -491px;
}

.main_areas{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--white);
    padding: 0px 176px 0 176px;
    margin-top: -11.875rem;
}

.phone, .info_areas{
  margin: 678px 0 160px 0;
}

.main_areas .phone{
    min-width: 289px;
    height: 627px;
    border: 15px solid black;
    border-radius: 23px;
    margin-right: 100px;
}

.main_areas .info_areas{
    display: flex;
}

.main_questions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  margin: auto;
  margin-bottom: 200px;
  margin-top: -350px;
}

.main_questions p{
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: var(--blue);
  margin-bottom: 16px;
}

.main_questions > h1{
  font-weight: 600;
  font-size: 52px;
  line-height: 62px;
  color: var(--black);
  margin-bottom: 60px;
}

.up{
  margin-bottom: 50px;
}

.up, .down{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
}

.main_comments{
  text-align: center;
  background-color: var(--white);
  margin: -250px 25px 200px 25px;
}

.main_comments > h1{
  font-weight: 600;
  size: 52px;
  line-height: 62px;
  color: var(--black);
  margin-bottom: 50px;
}

.comments_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow_right, .arrow_left{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: var(--lilac);
  rotate: 180deg;
}

.arrow_left{
  rotate: 0deg;
}

.arrow_right img, .arrow_left img{
  width: 32px;
  height: 32px;
}

.comments{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_map{
  width: 600px;
  margin: auto;
  background-color: var(--white);
}

.main_map h1{
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 55px;
}

.main_map img{
  width: 600px;
  height: 375px;
}

.main_claim{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  text-align: center;
}

.main_claim h1{
  font-weight: 600;
  font-size: 52px;
  line-height: 62px;
  margin-bottom: 17px;
  color: var(--black);
}

.main_claim p{
  width: 730px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--gray);
  margin-bottom: 17px;
  text-align: center;
}

.username_typecomment {
  width: 750px;
  display: flex;
  justify-content: space-around;
}



.username_typecomment-estiloso select { /* <select> */
  background: transparent; /* importante para exibir o novo ícone */
  width: 289px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 48px;
} 

.username_typecomment select {
  width: 289px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid var(--softGray);
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray);
  padding-left: 0.5rem;
}

.username_typecomment select:focus {
  box-shadow: 0 0 0 0;
  border: 1px solid var(--softGray);
  outline: 0;
}

.user_name{
  width: 255px;
  height: 48px;
  border: 1px solid var(--softGray);
  padding: 0 0 0 36px;
  border-radius: 6px;
  background-image: url(/src/assets/user.svg);
  background-repeat: no-repeat;
  background-position: 16px 13px;
  margin-bottom: 24px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray);
}

.user_name:focus{
  box-shadow: 0 0 0 0;
  border: 1px solid var(--softGray);
  outline: 0;
}

.user_comment{
  width: 750px;
  height: 140px;
  padding: 11px 0 0 18px;
  border: 1px solid var(--softGray);
  border-radius: 6px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray);
  margin-bottom: 21px;
}

.user_comment:focus{
  box-shadow: 0 0 0 0;
  border: 1px solid var(--softGray);
  outline: 0;
}

#p_warning{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--black);
}

.main_claim button{
  width: 255px;
  height: 50px;
  background-color: var(--blue);
  border: none;
  border-radius: 6px;
  font-family: var(--font);
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: white;
  margin-bottom: 53px;
  transition: all 0.2s ease;
}

.main_claim button:hover{
  cursor: pointer;
  width: 260px;
  height: 60px;
}

.big_circle{
  transform: translate(-50%, -50%);
  rotate: 90deg;
  height: 360px;
  width: 360px;
  border-radius: 360px 360px 0 0;
  background-color: var(--softPurple);
  margin-left: -360px;
}

.big_circle2{
  transform: translate(-50%, -50%);
  rotate: 90deg;
  height: 360px;
  width: 360px;
  border-radius: 0px 0px 360px 360px;
  background-color: var(--softPurple);
  margin-left: 1500px;
}

.small_cicle{
  position: absolute;
  top: 340%;
  left: 300px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--softPurple);
}