:root{
    --gray: #767676;
    --black: #1A1A1A;
    --lilac: #dbd9f5;
}

.member_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 152px;
    padding: 0 9px;
}

.member_photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--lilac);
}

.member_card h1{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}

.member_card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray);
}